{% block expertise %}

<!--Our expertise section one start -->
<div class="ed_transprentbg ed_toppadder100">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_heading_top ed_toppadder50">
					<h3>Choose how you want to learn</h3>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="ed_populer_areas_slider">
					<div class="owl-carousel owl-theme">
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Vocational Counselling</h4>
								<p>Vocational counselling is a career focused on helping people who need to find a job. Pretty obvious, obvious right?</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item2" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Elementary School</h4>
								<p>Not only high schools, we can offer help for elementary schools as well. Make sure your kid becomes a superstar.</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item3" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Student Guidance</h4>
								<p>Sometimes students need help with things unrelated to school. Where we come in and make sure you are happy.</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item4" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Psychology Tests</h4>
								<p>In a lot of various jobs, psychology tests are something you will have to deal with. We can prepare you for them in advance.</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item1" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>individual attention</h4>
								<p>There is significant research that supports the impact of individual attention on both academic performance.</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
						<div class="item">
							<div class="ed_item_img">
								<img src="http://placehold.it/263X165" alt="item2" class="img-responsive">
							</div>
							<div class="ed_item_description">
								<h4>Peer Recognition</h4>
								<p>As mentioned above, for many students, their own peers can have every bit the credibility that a teacher does.</p>
								<a href="#" class="ed_getinvolved">get involved <i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div><!-- /.container -->
</div>
<!--Our expertise section one end -->

{% endblock %}