{% block latest_news %}

<!--Latest news start -->
<div class="ed_graysection ed_toppadder80 ed_bottompadder80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ed_bottompadder80">
				<div class="ed_heading_top">
					<h3>Latest News</h3>
				</div>
			</div>
			<div class="ed_latest_news_slider">
				<div id="owl-demo2" class="owl-carousel owl-theme">
					<div class="item">
						<div class="ed_item_description">
							<h4>Officially the best</h4>
							<p>Just in case there is anyone looking for it, we added new expertise to our knowledge base to make you happy as well.</p>
							<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="ed_item_description">
							<h4>Redesigned website</h4>
							<p> Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante. </p>
							<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="ed_item_description">
							<h4>We are launching</h4>
							<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
							<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="ed_item_description">
							<h4>Officially the best</h4>
							<p> Maecenas tempus, tellus eget condimentum, sem quam semper libero, sit amet scing sem neque sed ipsum.</p>
							<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<div class="item">
						<div class="ed_item_description">
							<h4>Redesigned website</h4>
							<p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem to our knowledge base to make you happy as well.</p>
							<a href="">read more <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div> 
				</div>
			</div>
		</div>
    </div><!-- /.container -->
</div>
<!--Latest news end -->

{% endblock %}